<!-- Code for Carousel -->

<head>
  <%= javascript_include_tag 'carousel', 'data-turbolinks-track': 'reload' %>
</head>

<div class="row">
  <% @product.image_urls.first(4).each_with_index do |image_url, index| %>
    <% strip_image_url = image_url.to_s.strip.delete('"') %>
    <button class="column focus:outline-none focus:ring focus:ring-sky-300 rounded-lg">
      <img src="<%= strip_image_url %>" alt="<%= index + 1 %>" class="image-style rounded-lg" onclick="expandImg1(this);">
    </button>
  <% end %>
</div>

<%= render 'products/modal' %>

  <!-- The expanding image container -->
  <div class="container">
  
  <!-- Expanded image -->
  <img id="expandedImg" alt="">
  
  <!-- Image text -->
  <div id="imgtext"></div>
</div>

<!-- javascript for carousel -->

<script>
function expandImg1(imgs) {
    var expandImg = document.getElementById("expandedImg");
    var imgText = document.getElementById("imgtext");
    
    expandImg.src = imgs.src;
    imgText.innerHTML = imgs.alt;
    expandImg.parentElement.style.display = "block";
  }
</script>
  