<div data-controller="dialog">

  <!-- Button to open the modal window -->
  <% remaining_images_count = @product.image_urls.size - 4 %>
  <% if remaining_images_count > 0 %>
    <button type='button' data-action="click->dialog#open" class="app_link text-mdmt-2 rounded-lg py-3 px-5 inline-block font-medium text-white bg-sky-500 hover:bg-sky-700">
    Show More (<%= remaining_images_count %>)</button>
  <% end %>

  <dialog class="p-0" style="background-color: rgba(255,255,255)" data-dialog-target="dialog">

    <!-- Modal code -->
    <section aria-labelledby="add-location-form-heading">
        <div class="shadow sm:rounded-md sm:overflow-hidden">
          <div class="bg-white py-6 px-4 sm:p-6">
            <div>
              <div id="heading" class="text-lg leading-6 font-bold text-gray-900">
                <%= @product.title %>
              </div>
                <div class="image-grid">
                  <span class="modal-close" data-action="click->dialog#close">&times;</span>
                  <% @product.image_urls.each_with_index do |image_url, index| %>
                    <% strip_image_url = image_url.to_s.strip.delete('"') %>
                    <button class="column focus:outline-none focus:ring focus:ring-sky-300">
                      <img src="<%= strip_image_url %>" alt="<%= index + 1 %>" class="image-style" onclick="showExpandedImage(this);">
                    </button>
                    <% if (index + 1) % 5 == 0 %>
                      <% if index + 1 != @product.image_urls.size %>
                        </div>
                        <div class="image-grid">
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
                <span class="modal-close" data-action="click->dialog#close">&times;</span>
                <div id="modalContent">
                  <!-- The expanding image container -->
                  <div class="container">   
                    <!-- Expanded image -->
                    <img id="expandedImg" alt="">
                    <!-- Image text -->
                    <div id="imgtext"></div>
                  </div>
                </div>
              </div>

            </dialog>

          </div>
